.text-justify {
    text-align: justify;
}

/* Styling Social Media Icons (UPDATE KEREN) */
.social-icon-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Transparan putih */
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Efek mantul */
    text-decoration: none;
    margin-right: 15px;
}

.social-icon-btn:hover {
    background: #fff;
    color: #145e3f; /* Warna ikon jadi hijau saat hover */
    transform: translateY(-5px); /* Naik sedikit */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-color: #fff;
}

/* artikel */
.article-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .article-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 30px rgba(0,0,0,0.1) !important;
    }
    .article-card:hover img {
        transform: scale(1.05);
    }
    .title-hover {
        background-image: linear-gradient(to right, #145e3f, #145e3f);
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 0.3s ease;
    }
    .article-card:hover .title-hover {
        background-size: 100% 2px;
        color: #145e3f !important;
    }